<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <div class="align-items-center mb-2 mb-lg-0 text-decoration-none">
          <a href="/dashboard/dashboard" class="text-white">NOTES.</a>
          </div>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="/dashboard/dashboard/search" method="POST">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search" name="search">
          </form> 
        <div class="">
          <a href="/api/google/logout" type="button" class="btn btn-outline-light me-2">Logout</a>
          </div> 
      </div>
    </div>
  </header>