  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between p-3 bg-dark text-white">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-white text-decoration-none">
      NOTES.
    </a>

    <p class="mb-2 justify-content-center mb-md-0">
      Let's start your first note!
    </p>

    <div class="col-md-3">
      
    </div>
  </header>
  