<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title font-weight-bold">About Us</h2>
                    <p class="aboutus-text">Our Notes App is designed with the purpose of enabling users to quickly and conveniently jot down all thoughts, ideas, and plans.</p>
                    <a class="aboutus-more" href="https://facebook.com">read more</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                    <img src="http://themeinnovation.com/demo2/html/build-up/img/home1/about1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="feature-content">
                                <h4 class="font-weight-bold">Mission</h4>
                                <p>We believe that every thought and idea is important. Our mission is to ensure you never miss out on any valuable idea.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="feature-content">
                                <h4 class="font-weight-bold">Development Team</h4>
                                <p>Our development team consists of experienced and passionate individuals dedicated to creating the best applications for our users.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="feature-content">
                                <h4 class="font-weight-bold">Contact</h4>
                                <p>If you have any questions or feedback, please feel free to contact us via email: <a href="mailto:support@yourapp.com">support@yourapp.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>