<section>
    <div class="container">
   <p class="text-center mb-5 mt-5 font-weight-bold" style="font-size: 36px; ">
      Find the answers for the most frequently asked questions below
    </p>
  
    <div class="row faq">
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 font-weight-bold" ><i class="fa fa-paper-plane pe-2"></i> How do I create a new note?</h6>
        <p>
         To create a new note, click on the "Create New Note" button at the top right corner of the screen.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 font-weight-bold"><i class="fa fa-cloud pe-2"></i> Can I edit saved notes?</h6>
        <p>
            Yes, you just need to click on the note you want to edit and start writing.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 font-weight-bold"><i class="fa fa-trash pe-2"></i> How do I delete a note?
        </h6>
        <p>
            To delete a note, you can click on the X icon at top-right conner of every note.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 font-weight-bold"><i class="fa fa-search pe-2"></i> Can I search within my notes?
        </h6>
        <p>
            Yes, you can use the search bar at the top of the app to search within your notes.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 font-weight-bold"><i class="fa fa-shield pe-2"></i> How is my data secured?
        </h6>
       <p>We prioritize your privacy. Your data is encrypted and only you have access rights.</p> 
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 font-weight-bold"><i class="fa fa-phone pe-2"></i> Another
          question?</h6>
        <p>
          We’re happy to offer a free plan to anyone who wants to try our service. If you have any question, <a href="/about">contact us</a>.
        </p>
      </div>
    </div>
</div>
</section>